<f:layout name="BackendSubModule" />

<f:section name="content">
	<div class="neos-row-fluid neos-module-container">
		<div class="neos-span5">
			<legend>User Data</legend>

			<table class="neos-info-table">
				<tbody>
				<tr>
					<th>Username</th>
					<td>{account.accountIdentifier}</td>
				</tr>
				<tr>
					<th>Alias</th>
					<td>{account.party.name.alias}</td>
				</tr>
				<tr>
					<th>Creation date</th>
					<td><f:format.date format="d.m.Y - H:i:s">{account.creationDate}</f:format.date></td>
				</tr>
				<f:if condition="{account.roles}">
					<tr>
						<th>Roles</th>
						<td><f:render partial="Module/Shared/Roles" arguments="{roles: account.roles}" /></td>
					</tr>
				</f:if>
				</tbody>
			</table>
		</div>
		<div class="neos-span5 neos-offset1">
			<legend>Personal Data</legend>

			<table class="neos-info-table">
				<tbody>
				<f:if condition="{account.party.name.title}">
					<tr>
						<th>Title</th>
						<td>{account.party.name.title}</td>
					</tr>
				</f:if>
				<f:if condition="{account.party.name.firstName}">
					<tr>
						<th>First Name</th>
						<td>{account.party.name.firstName}</td>
					</tr>
				</f:if>
				<f:if condition="{account.party.name.MiddleName}">
					<tr>
						<th>Middle Name</th>
						<td>{account.party.name.middleName}</td>
					</tr>
				</f:if>
				<f:if condition="{account.party.name.lastName}">
					<tr>
						<th>Last Name</th>
						<td>{account.party.name.lastName}</td>
					</tr>
				</f:if>
				<f:if condition="{account.party.name.otherName}">
					<tr>
						<th>Other Name</th>
						<td>{account.party.name.otherName}</td>
					</tr>
				</f:if>
				</tbody>
			</table>
		</div>
	</div>

	<div class="neos-row-fluid">
		<legend>Show: {nodeTypeName}</legend>
		<br>
<f:debug>{node}</f:debug>








	</div>


</f:section>